<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о книги</title>
</head>
<body>
<h2>Информация о книги</h2>
<br>
<p th:text="'Название книги: ' + ${book.getName()} + ' Автор: ' + ${book.getAuthor()}
+ ' Год выпуска: ' + ${book.getYear()}"> some book</p>
<br>
<hr>
<div th:if="${book.getOwner()}">
    <p>Сейчас читает:</p>
    <p th:text="${book.getOwner().getName()}"> name people </p>
    <form th:method="GET" th:action="@{{id}/deleteReader (id = ${book.getId()})}">
        <input type="submit" value="Освободить книгу!">
    </form>
</div>
<div  th:unless="${book.getOwner()}">
    <p>Сейчас книга свободна!</p>
    <form th:method="POST" th:action="@{{id}/addReader (id = ${book.getId()})}" th:object="${person}">
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="reader:${AllReader}" th:value="${reader.getId()}" th:text="${reader.getName()}"/>

        </select>
        <input type="submit" value="Добавить читателя!">
    </form>
</div>

<hr>
<form th:method="GET" th:action="@{{id}/edit(id = ${book.getId()})}">
    <input type="submit" value="Редактировать книгу"/>
</form>

<form th:method="GET" th:action="@{{id}/delete(id = ${book.getId()})}">
    <input type="submit" value="Удалить книгу"/>
</form>

<hr>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="User List"/>
</form>


</body>
</html>